.App {
  text-align: center;
  font-size: 1.5rem;
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 60px auto 150px;
  grid-template-areas: "nav" "main" "footer";
}

.nav {
  grid-area: nav;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

a {
  text-decoration: none;
  color: black;
}

/*--global--*/

.navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 55px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
  background-color: #eee;
}
.logo {
  height: 70px;
}

.logo:hover {
  box-shadow: 5px 5px 1px 1px black;
}

.project {
  height: 50px;
}

.navbar a {
  margin: 1rem;
  padding: 1rem;
  height: 30px;
}

/* welcome section */
.welcome-section {
  background-color: #eee;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75vh;
}

.welcome-section h1 {
  font-size: 3rem;
}

.welcome-section-nav :hover {
  background-color: #09bc8a;
  box-shadow: 5px 5px 1px 1px black;
  color: black;
}

.welcome-section-nav a {
  display: block;
  padding: 1rem 0;
  margin: 3rem;
  width: 10rem;
  color: #09bc8a;
  font-weight: 500;
}

.connect {
  margin-top: 5rem;
}

/* footer */
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #eee;
}

footer p {
  margin: 2rem;
}

.fa {
  padding: 10px;
  font-size: 2.5rem;
  width: 32px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  color: white;
  background-color: #09bc8a;
  box-shadow: 5px 5px 1px 1px black;
}

/* about me section */

.about-me-section {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-me-section h2 {
  font-size: 3rem;
  margin-top: 10vh;
  padding: 3rem;
}

.about-me-section a:hover {
  background-color: #f0a7a0;
}

.about-me-section p {
  font-size: 1.5rem;
  margin: 5rem 10rem 0rem 10rem;
  text-align: justify;
}

.about-me-section #interest {
  margin-bottom: 20rem;
}

/* ------project section */
.projects-section {
  text-align: center;
  margin: 5rem 10rem;
  padding: 10rem 2em;
}

.projects-grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.each-project {
  border: #09bc8a solid 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.each-project:hover {
  box-shadow: 5px 5px 2px 2px black;
}

/*below not working*/
@media (max-width: 30.625em) {
  .each-project {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}
.project-image {
  padding: 1rem;
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 1.5rem 0.5rem;
}
