/*--global--*/
:root {
  --main-green: #09bc8a;
  --main-pink: #ead1ca;
  --point-green: #0bebad;
  --point-pink: #f64375;
}
.App {
  text-align: center;
  font-size: 1.8rem;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  /* grid-template-rows: 60px auto 150px; */
  grid-template-areas: "nav" "main" "footer";
}

.nav {
  grid-area: nav;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
}
/*--nav--*/
.navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 2px 55px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
  background-color: whitesmoke;
}

.navbar ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.logo {
  height: 70px;
}

.logo:hover {
  box-shadow: 5px 5px 1px 1px black;
}

.navbar a {
  margin: 1rem;
  padding: 1rem;
  height: 30px;
  color: #080808;
}

.navbar a:hover {
  color: #f64375;
}

@media (max-width: 28.75em) {
  .logo {
    height: 50px;
  }
}

/* welcome section */
.welcome-section {
  padding-top: 10vh;
  background-color: #eee;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
}

.welcome-section h1 {
  font-size: 4rem;
  padding: 2rem;
}

.welcome-section-nav :hover {
  background-color: #09bc8a;
  box-shadow: 5px 5px 1px 1px black;
  color: black;
}

.welcome-section-nav a {
  font-size: 2.3rem;

  display: block;
  padding: 1rem 0;
  margin: 3rem;
  width: 15rem;
  color: #00d294;
  font-weight: 500;
}

/* footer */
footer {
  height: 20vh;
  display: flex;
  /* position: fixed; */
  /* bottom: 0; */
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #eee;
}

footer p {
  margin: 1rem;
}

.footer .fa {
  padding: 10px;
  font-size: 2.5rem;
  width: 32px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.footer .fa:hover {
  color: white;
  background-color: #09bc8a;
  box-shadow: 5px 5px 1px 1px black;
}

/* about me section */

.about-me-section {
  background-color: var(--main-pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-me-section h1 {
  color: var(--main-green);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 4.5rem;
  margin-top: 10vh;
  padding: 3rem;
}

.about-me-section a:hover {
  background-color: #f0a7a0;
}

.about-me-section p {
  font-size: 2rem;
  margin: 5rem 10rem 0rem 10rem;
  text-align: start;
}

@media (max-width: 28.75em) {
  .about-me-section p {
    margin: 5rem 2rem 0rem 2rem;
    text-align: left;
  }
}
.about-me-section #career {
  margin-bottom: 10rem;
}

/* ------project section */
.projects-section {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eee;
}
.projects-section-header {
  text-align: center;
  margin-top: 6rem;
  padding: 5rem 7rem;
  font-size: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 4rem;
  margin: 0rem auto;
  padding: 1rem 10rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}

.each-project {
  background-color: var(--main-pink);
  border: black solid 2px;
  /* border: #09bc8a solid 3px; */
}

.project-image {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 3rem;
  padding-top: 1.5rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--main-green);
}

.project-explain {
  padding: 2rem;
  text-align: left;
}

.project-explain h3 {
  color: var(--main-green);
}

.project-explain i {
  height: 1rem;
  font-style: inherit;
}

.project-explain li {
  list-style-type: square;
  list-style-position: inside;
}

.project-tech h3 {
  margin: 2rem 0;
}
.each-project button {
  font-style: inherit;
  font-size: inherit;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2px;
  background-color: var(--main-green);
  border: none;
}

.each-project .code {
  color: var(--main-green);
  transition: color 0.3s ease-out;
}

.each-project button:hover .code {
  color: var(--main-pink);
  font-weight: bold;
}
.project-button {
  text-align: center;
}

.explain {
  color: red;
}
