* {
  margin: 0;
  padding: 0;
}

* *::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto Mono", monospace;
}
